<a href="https://colab.research.google.com/github/Cristiancperez/Code_in_class/blob/main/01_Python_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduction

We are going

# **1. What is Python?**

It was 1991 and can do anything

# **2.Why Python?**

It is free.
It is open source.
Is is very easy to learn..**bold text**

# **3.Getting Started**

## 3.1 Python as a Calculator

In [ ]:
# Addition
2+2

4

In [ ]:
# Substraction
2-2

0

In [ ]:
# Multiplication
9*3

27

In [ ]:
# Exponential
5**3

125

In [ ]:
# Division
10/3

3.3333333333333335

In [ ]:
# Integer Division
10//3

3

## 3.4 Basic Functions

## **Print**

In [ ]:
# Number Example
print(2022,8,11)

2022 8 11

In [ ]:
# String (alphabet) Example 
print('Rodrigo')

Rodrigo

In [ ]:
# More complicated string examples
print('First Name: Rodrigo','Last Name: Velez')
print('First Name: Rodrigo\tLast Name: Velez')
print('First Name: Rodrigo\nLast Name: Velez')

First Name: Rodrigo Last Name: Velez
First Name: Rodrigo	Last Name: Velez
First Name: Rodrigo
Last Name: Velez

In [ ]:
# More complicated string examples
print('First Name:','Rodrigo','Last Name:','Velez')

First Name: Rodrigo Last Name: Velez

In [ ]:
# More complicated number example
for i in range(0,10): print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
# Combine string and numbers
print('My favorite number is:', 21)

My favorite number is: 21

## **Round**

In [ ]:
# A simple example 
round(1.253,2)

1.25

In [ ]:
# Time to practice
# Consider the number 7.2345
# Print every result for rounding from 3 to 0 positions
for i in range(0,4): print(round(7.2345,i))

7.0
7.2
7.23
7.234

In [ ]:
print('Round with', 0, 'decimals', round(7.2345,0))
print('Round with', 1, 'decimals', round(7.2345,1))
print('Round with', 2, 'decimals', round(7.2345,2))
print('Round with', 3, 'decimals', round(7.2345,3))

Round with 0 decimals 7.0
Round with 1 decimals 7.2
Round with 2 decimals 7.23
Round with 3 decimals 7.234

In [ ]:
# If we for loops
for i in range(0,4): print('Round with',i,'decimals', round(7.2345,i))

Round with 0 decimals 7.0
Round with 1 decimals 7.2
Round with 2 decimals 7.23
Round with 3 decimals 7.234

In [ ]:
# Practice
# Print the first 100 multiple of the number 2,
for i in range(0,101): print('The',i,'Multiple of 2 is',i*2)

The 0 Multiple of 2 is 0
The 1 Multiple of 2 is 2
The 2 Multiple of 2 is 4
The 3 Multiple of 2 is 6
The 4 Multiple of 2 is 8
The 5 Multiple of 2 is 10
The 6 Multiple of 2 is 12
The 7 Multiple of 2 is 14
The 8 Multiple of 2 is 16
The 9 Multiple of 2 is 18
The 10 Multiple of 2 is 20
The 11 Multiple of 2 is 22
The 12 Multiple of 2 is 24
The 13 Multiple of 2 is 26
The 14 Multiple of 2 is 28
The 15 Multiple of 2 is 30
The 16 Multiple of 2 is 32
The 17 Multiple of 2 is 34
The 18 Multiple of 2 is 36
The 19 Multiple of 2 is 38
The 20 Multiple of 2 is 40
The 21 Multiple of 2 is 42
The 22 Multiple of 2 is 44
The 23 Multiple of 2 is 46
The 24 Multiple of 2 is 48
The 25 Multiple of 2 is 50
The 26 Multiple of 2 is 52
The 27 Multiple of 2 is 54
The 28 Multiple of 2 is 56
The 29 Multiple of 2 is 58
The 30 Multiple of 2 is 60
The 31 Multiple of 2 is 62
The 32 Multiple of 2 is 64
The 33 Multiple of 2 is 66
The 34 Multiple of 2 is 68
The 35 Multiple of 2 is 70
The 36 Multiple of 2 is 72
The 37 Multiple of 2 is 74
The 38 Multiple of 2 is 76
The 39 Multiple of 2 is 78
The 40 Multiple of 2 is 80
The 41 Multiple of 2 is 82
The 42 Multiple of 2 is 84
The 43 Multiple of 2 is 86
The 44 Multiple of 2 is 88
The 45 Multiple of 2 is 90
The 46 Multiple of 2 is 92
The 47 Multiple of 2 is 94
The 48 Multiple of 2 is 96
The 49 Multiple of 2 is 98
The 50 Multiple of 2 is 100
The 51 Multiple of 2 is 102
The 52 Multiple of 2 is 104
The 53 Multiple of 2 is 106
The 54 Multiple of 2 is 108
The 55 Multiple of 2 is 110
The 56 Multiple of 2 is 112
The 57 Multiple of 2 is 114
The 58 Multiple of 2 is 116
The 59 Multiple of 2 is 118
The 60 Multiple of 2 is 120
The 61 Multiple of 2 is 122
The 62 Multiple of 2 is 124
The 63 Multiple of 2 is 126
The 64 Multiple of 2 is 128
The 65 Multiple of 2 is 130
The 66 Multiple of 2 is 132
The 67 Multiple of 2 is 134
The 68 Multiple of 2 is 136
The 69 Multiple of 2 is 138
The 70 Multiple of 2 is 140
The 71 Multiple of 2 is 142
The 72 Multiple of 2 is 144
The 73 Multiple of 2 is 146
The 74 Multiple of 2 is 148
The 75 Multiple of 2 is 150
The 76 Multiple of 2 is 152
The 77 Multiple of 2 is 154
The 78 Multiple of 2 is 156
The 79 Multiple of 2 is 158
The 80 Multiple of 2 is 160
The 81 Multiple of 2 is 162
The 82 Multiple of 2 is 164
The 83 Multiple of 2 is 166
The 84 Multiple of 2 is 168
The 85 Multiple of 2 is 170
The 86 Multiple of 2 is 172
The 87 Multiple of 2 is 174
The 88 Multiple of 2 is 176
The 89 Multiple of 2 is 178
The 90 Multiple of 2 is 180
The 91 Multiple of 2 is 182
The 92 Multiple of 2 is 184
The 93 Multiple of 2 is 186
The 94 Multiple of 2 is 188
The 95 Multiple of 2 is 190
The 96 Multiple of 2 is 192
The 97 Multiple of 2 is 194
The 98 Multiple of 2 is 196
The 99 Multiple of 2 is 198
The 100 Multiple of 2 is 200

In [3]:
print('This is the list of the 100th Multiples of 2')
for i in range(1,100): print('Position:',i,'Multiple:',2*i)

This is the list of the 100th Multiples of 2
Position: 1 Multiple: 2
Position: 2 Multiple: 4
Position: 3 Multiple: 6
Position: 4 Multiple: 8
Position: 5 Multiple: 10
Position: 6 Multiple: 12
Position: 7 Multiple: 14
Position: 8 Multiple: 16
Position: 9 Multiple: 18
Position: 10 Multiple: 20
Position: 11 Multiple: 22
Position: 12 Multiple: 24
Position: 13 Multiple: 26
Position: 14 Multiple: 28
Position: 15 Multiple: 30
Position: 16 Multiple: 32
Position: 17 Multiple: 34
Position: 18 Multiple: 36
Position: 19 Multiple: 38
Position: 20 Multiple: 40
Position: 21 Multiple: 42
Position: 22 Multiple: 44
Position: 23 Multiple: 46
Position: 24 Multiple: 48
Position: 25 Multiple: 50
Position: 26 Multiple: 52
Position: 27 Multiple: 54
Position: 28 Multiple: 56
Position: 29 Multiple: 58
Position: 30 Multiple: 60
Position: 31 Multiple: 62
Position: 32 Multiple: 64
Position: 33 Multiple: 66
Position: 34 Multiple: 68
Position: 35 Multiple: 70
Position: 36 Multiple: 72
Position: 37 Multiple: 74
Position: 38 Multiple: 76
Position: 39 Multiple: 78
Position: 40 Multiple: 80
Position: 41 Multiple: 82
Position: 42 Multiple: 84
Position: 43 Multiple: 86
Position: 44 Multiple: 88
Position: 45 Multiple: 90
Position: 46 Multiple: 92
Position: 47 Multiple: 94
Position: 48 Multiple: 96
Position: 49 Multiple: 98
Position: 50 Multiple: 100
Position: 51 Multiple: 102
Position: 52 Multiple: 104
Position: 53 Multiple: 106
Position: 54 Multiple: 108
Position: 55 Multiple: 110
Position: 56 Multiple: 112
Position: 57 Multiple: 114
Position: 58 Multiple: 116
Position: 59 Multiple: 118
Position: 60 Multiple: 120
Position: 61 Multiple: 122
Position: 62 Multiple: 124
Position: 63 Multiple: 126
Position: 64 Multiple: 128
Position: 65 Multiple: 130
Position: 66 Multiple: 132
Position: 67 Multiple: 134
Position: 68 Multiple: 136
Position: 69 Multiple: 138
Position: 70 Multiple: 140
Position: 71 Multiple: 142
Position: 72 Multiple: 144
Position: 73 Multiple: 146
Position: 74 Multiple: 148
Position: 75 Multiple: 150
Position: 76 Multiple: 152
Position: 77 Multiple: 154
Position: 78 Multiple: 156
Position: 79 Multiple: 158
Position: 80 Multiple: 160
Position: 81 Multiple: 162
Position: 82 Multiple: 164
Position: 83 Multiple: 166
Position: 84 Multiple: 168
Position: 85 Multiple: 170
Position: 86 Multiple: 172
Position: 87 Multiple: 174
Position: 88 Multiple: 176
Position: 89 Multiple: 178
Position: 90 Multiple: 180
Position: 91 Multiple: 182
Position: 92 Multiple: 184
Position: 93 Multiple: 186
Position: 94 Multiple: 188
Position: 95 Multiple: 190
Position: 96 Multiple: 192
Position: 97 Multiple: 194
Position: 98 Multiple: 196
Position: 99 Multiple: 198

### Absolute Value

In [4]:
# Example 
abs(-25)

25