<a href="https://colab.research.google.com/github/Cristiancperez/Code_in_class/blob/main/02_%2C_Python_Variables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#1. What is a Variable?

*Container*, **stores** values

# 2. Declaration and Assigment

In [ ]:
# Example

a = 4

In [ ]:
# Example using variable
print(a + 1)

5

In [ ]:
# Example
x = y = z = 100
print(x,y,z)

100 100 100

# 3. Delete and clear

In [ ]:
# Example - deleting a single variable
age = 21
del age

In [ ]:
# Example - deleting a list of variables
del a,at

In [ ]:
# Example - erase of clear all variables
%reset

Once deleted, variables cannot be recovered. Proceed (y/[n])? y

In [ ]:
a = 7.2345

In [ ]:
for i in range(0,4): print('Round with', i, 'decimals;', round(a,i))

Round with 0 decimals; 7.0
Round with 1 decimals; 7.2
Round with 2 decimals; 7.23
Round with 3 decimals; 7.234

In [ ]:
b = 2
print('This is the list of the 100th Multiples of', b,':')
for i in range(1,101): print('Position:',i,'Multiple:', b*i)

This is the list of the 100th Multiples of 2 :
Position: 1 Multiple: 2
Position: 2 Multiple: 4
Position: 3 Multiple: 6
Position: 4 Multiple: 8
Position: 5 Multiple: 10
Position: 6 Multiple: 12
Position: 7 Multiple: 14
Position: 8 Multiple: 16
Position: 9 Multiple: 18
Position: 10 Multiple: 20
Position: 11 Multiple: 22
Position: 12 Multiple: 24
Position: 13 Multiple: 26
Position: 14 Multiple: 28
Position: 15 Multiple: 30
Position: 16 Multiple: 32
Position: 17 Multiple: 34
Position: 18 Multiple: 36
Position: 19 Multiple: 38
Position: 20 Multiple: 40
Position: 21 Multiple: 42
Position: 22 Multiple: 44
Position: 23 Multiple: 46
Position: 24 Multiple: 48
Position: 25 Multiple: 50
Position: 26 Multiple: 52
Position: 27 Multiple: 54
Position: 28 Multiple: 56
Position: 29 Multiple: 58
Position: 30 Multiple: 60
Position: 31 Multiple: 62
Position: 32 Multiple: 64
Position: 33 Multiple: 66
Position: 34 Multiple: 68
Position: 35 Multiple: 70
Position: 36 Multiple: 72
Position: 37 Multiple: 74
Position: 38 Multiple: 76
Position: 39 Multiple: 78
Position: 40 Multiple: 80
Position: 41 Multiple: 82
Position: 42 Multiple: 84
Position: 43 Multiple: 86
Position: 44 Multiple: 88
Position: 45 Multiple: 90
Position: 46 Multiple: 92
Position: 47 Multiple: 94
Position: 48 Multiple: 96
Position: 49 Multiple: 98
Position: 50 Multiple: 100
Position: 51 Multiple: 102
Position: 52 Multiple: 104
Position: 53 Multiple: 106
Position: 54 Multiple: 108
Position: 55 Multiple: 110
Position: 56 Multiple: 112
Position: 57 Multiple: 114
Position: 58 Multiple: 116
Position: 59 Multiple: 118
Position: 60 Multiple: 120
Position: 61 Multiple: 122
Position: 62 Multiple: 124
Position: 63 Multiple: 126
Position: 64 Multiple: 128
Position: 65 Multiple: 130
Position: 66 Multiple: 132
Position: 67 Multiple: 134
Position: 68 Multiple: 136
Position: 69 Multiple: 138
Position: 70 Multiple: 140
Position: 71 Multiple: 142
Position: 72 Multiple: 144
Position: 73 Multiple: 146
Position: 74 Multiple: 148
Position: 75 Multiple: 150
Position: 76 Multiple: 152
Position: 77 Multiple: 154
Position: 78 Multiple: 156
Position: 79 Multiple: 158
Position: 80 Multiple: 160
Position: 81 Multiple: 162
Position: 82 Multiple: 164
Position: 83 Multiple: 166
Position: 84 Multiple: 168
Position: 85 Multiple: 170
Position: 86 Multiple: 172
Position: 87 Multiple: 174
Position: 88 Multiple: 176
Position: 89 Multiple: 178
Position: 90 Multiple: 180
Position: 91 Multiple: 182
Position: 92 Multiple: 184
Position: 93 Multiple: 186
Position: 94 Multiple: 188
Position: 95 Multiple: 190
Position: 96 Multiple: 192
Position: 97 Multiple: 194
Position: 98 Multiple: 196
Position: 99 Multiple: 198
Position: 100 Multiple: 200

## 4.1 Conditions and Restrictions

The names must have only alphanumeric characters
(from `0 to 1`, `a to z`. `A to Z`) and underscore `_`

**WARNING** A variable name MUST noy  begin with a number.

In [21]:
# Example 
my_age = 100
person1 = 'me'

## 4.2 Best Practices

* Variables are case sentitive:

In [1]:
# Example

age = 12
Age = 13
AGE = 14

The best practice in Python is to used lower case.



*   Composite names

In [2]:
# Example
book_price = 100
book_quant = 20

* Use meainful names

Names shuld tell you something

In [4]:
stock_price = 25

# 5.Data types

## 5.1 Integers

In [3]:
stock_price = 25
print(type(stock_price))

<class 'int'>

##5.2 Float

In [5]:
stock_price = 25.45
print(type(stock_price))

<class 'float'>

## Python as a Calculator

In [8]:
# Example 

x = 3
y = 4
z = 5
print('x + y =', x + y)
print('x + z =', x + z)

x + y = 7
x + z = 8

Let's try a **nice trick**

In [9]:
# Nice Trick
w = 0

In [17]:
# Nice Trick
w += 1
print(w)

3

## 5.3. Booleans

These are variables with values of `True`or `False`.

In [18]:
# Example

is_sunny = True
print(type(is_sunny))

<class 'bool'>

More important are **BOOLEAN EXPRESSIONS**.

In [20]:
# Example 

x = 2
y = 3

print('is x equals to Y?', x == y)
print('is x NOT equals to Y?', x != y)
print('is x greater then Y?', x > y)
print('is x less than Y?', x < y)

is x equals to Y? False
is x NOT equals to Y? True
is x greater then Y? False
is x less than Y? True

In [54]:
# Practice - hard mode!!!

# Using loops, you are going to evalaute the b_e
# x+y > x*y
# For x = 1,2,3,...,10
#     y = 11,12,13,...,20
x = 1
y = 12

In [55]:
x + y

13

In [56]:
x * y

12

In [60]:
print('Is x+y equals to x*y?', x + y == x*y)
print('Is x+y NOT equals to x*y?', x + y != x*y)
print('Is x+y graater than x*y?', x + y > x*y)
print('Is x+y less than x*y?', x + y == x*y)

Is x+y equals to x*y? False
Is x+y NOT equals to x*y? True
Is x+y graater than x*y? True
Is x+y less than x*y? False

In [62]:
# A Solution

print('Is x + y > x * y?')
for x in range(1,11):
  for y in range(12,21):
    print('Is ',x,'+',y,'>',x,'*',y,'?', x + y > x * y)

Is x + y > x * y?
Is  1 + 12 > 1 * 12 ? True
Is  1 + 13 > 1 * 13 ? True
Is  1 + 14 > 1 * 14 ? True
Is  1 + 15 > 1 * 15 ? True
Is  1 + 16 > 1 * 16 ? True
Is  1 + 17 > 1 * 17 ? True
Is  1 + 18 > 1 * 18 ? True
Is  1 + 19 > 1 * 19 ? True
Is  1 + 20 > 1 * 20 ? True
Is  2 + 12 > 2 * 12 ? False
Is  2 + 13 > 2 * 13 ? False
Is  2 + 14 > 2 * 14 ? False
Is  2 + 15 > 2 * 15 ? False
Is  2 + 16 > 2 * 16 ? False
Is  2 + 17 > 2 * 17 ? False
Is  2 + 18 > 2 * 18 ? False
Is  2 + 19 > 2 * 19 ? False
Is  2 + 20 > 2 * 20 ? False
Is  3 + 12 > 3 * 12 ? False
Is  3 + 13 > 3 * 13 ? False
Is  3 + 14 > 3 * 14 ? False
Is  3 + 15 > 3 * 15 ? False
Is  3 + 16 > 3 * 16 ? False
Is  3 + 17 > 3 * 17 ? False
Is  3 + 18 > 3 * 18 ? False
Is  3 + 19 > 3 * 19 ? False
Is  3 + 20 > 3 * 20 ? False
Is  4 + 12 > 4 * 12 ? False
Is  4 + 13 > 4 * 13 ? False
Is  4 + 14 > 4 * 14 ? False
Is  4 + 15 > 4 * 15 ? False
Is  4 + 16 > 4 * 16 ? False
Is  4 + 17 > 4 * 17 ? False
Is  4 + 18 > 4 * 18 ? False
Is  4 + 19 > 4 * 19 ? False
Is  4 + 20 > 4 * 20 ? False
Is  5 + 12 > 5 * 12 ? False
Is  5 + 13 > 5 * 13 ? False
Is  5 + 14 > 5 * 14 ? False
Is  5 + 15 > 5 * 15 ? False
Is  5 + 16 > 5 * 16 ? False
Is  5 + 17 > 5 * 17 ? False
Is  5 + 18 > 5 * 18 ? False
Is  5 + 19 > 5 * 19 ? False
Is  5 + 20 > 5 * 20 ? False
Is  6 + 12 > 6 * 12 ? False
Is  6 + 13 > 6 * 13 ? False
Is  6 + 14 > 6 * 14 ? False
Is  6 + 15 > 6 * 15 ? False
Is  6 + 16 > 6 * 16 ? False
Is  6 + 17 > 6 * 17 ? False
Is  6 + 18 > 6 * 18 ? False
Is  6 + 19 > 6 * 19 ? False
Is  6 + 20 > 6 * 20 ? False
Is  7 + 12 > 7 * 12 ? False
Is  7 + 13 > 7 * 13 ? False
Is  7 + 14 > 7 * 14 ? False
Is  7 + 15 > 7 * 15 ? False
Is  7 + 16 > 7 * 16 ? False
Is  7 + 17 > 7 * 17 ? False
Is  7 + 18 > 7 * 18 ? False
Is  7 + 19 > 7 * 19 ? False
Is  7 + 20 > 7 * 20 ? False
Is  8 + 12 > 8 * 12 ? False
Is  8 + 13 > 8 * 13 ? False
Is  8 + 14 > 8 * 14 ? False
Is  8 + 15 > 8 * 15 ? False
Is  8 + 16 > 8 * 16 ? False
Is  8 + 17 > 8 * 17 ? False
Is  8 + 18 > 8 * 18 ? False
Is  8 + 19 > 8 * 19 ? False
Is  8 + 20 > 8 * 20 ? False
Is  9 + 12 > 9 * 12 ? False
Is  9 + 13 > 9 * 13 ? False
Is  9 + 14 > 9 * 14 ? False
Is  9 + 15 > 9 * 15 ? False
Is  9 + 16 > 9 * 16 ? False
Is  9 + 17 > 9 * 17 ? False
Is  9 + 18 > 9 * 18 ? False
Is  9 + 19 > 9 * 19 ? False
Is  9 + 20 > 9 * 20 ? False
Is  10 + 12 > 10 * 12 ? False
Is  10 + 13 > 10 * 13 ? False
Is  10 + 14 > 10 * 14 ? False
Is  10 + 15 > 10 * 15 ? False
Is  10 + 16 > 10 * 16 ? False
Is  10 + 17 > 10 * 17 ? False
Is  10 + 18 > 10 * 18 ? False
Is  10 + 19 > 10 * 19 ? False
Is  10 + 20 > 10 * 20 ? False

In [68]:
print('The table of x * y:')
for x in range(1,11):
  for y in range(1,11):
    print('The table of',x,'*',y,':', x * y)

The table of x * y:
The table of 1 * 1 : 1
The table of 1 * 2 : 2
The table of 1 * 3 : 3
The table of 1 * 4 : 4
The table of 1 * 5 : 5
The table of 1 * 6 : 6
The table of 1 * 7 : 7
The table of 1 * 8 : 8
The table of 1 * 9 : 9
The table of 1 * 10 : 10
The table of 2 * 1 : 2
The table of 2 * 2 : 4
The table of 2 * 3 : 6
The table of 2 * 4 : 8
The table of 2 * 5 : 10
The table of 2 * 6 : 12
The table of 2 * 7 : 14
The table of 2 * 8 : 16
The table of 2 * 9 : 18
The table of 2 * 10 : 20
The table of 3 * 1 : 3
The table of 3 * 2 : 6
The table of 3 * 3 : 9
The table of 3 * 4 : 12
The table of 3 * 5 : 15
The table of 3 * 6 : 18
The table of 3 * 7 : 21
The table of 3 * 8 : 24
The table of 3 * 9 : 27
The table of 3 * 10 : 30
The table of 4 * 1 : 4
The table of 4 * 2 : 8
The table of 4 * 3 : 12
The table of 4 * 4 : 16
The table of 4 * 5 : 20
The table of 4 * 6 : 24
The table of 4 * 7 : 28
The table of 4 * 8 : 32
The table of 4 * 9 : 36
The table of 4 * 10 : 40
The table of 5 * 1 : 5
The table of 5 * 2 : 10
The table of 5 * 3 : 15
The table of 5 * 4 : 20
The table of 5 * 5 : 25
The table of 5 * 6 : 30
The table of 5 * 7 : 35
The table of 5 * 8 : 40
The table of 5 * 9 : 45
The table of 5 * 10 : 50
The table of 6 * 1 : 6
The table of 6 * 2 : 12
The table of 6 * 3 : 18
The table of 6 * 4 : 24
The table of 6 * 5 : 30
The table of 6 * 6 : 36
The table of 6 * 7 : 42
The table of 6 * 8 : 48
The table of 6 * 9 : 54
The table of 6 * 10 : 60
The table of 7 * 1 : 7
The table of 7 * 2 : 14
The table of 7 * 3 : 21
The table of 7 * 4 : 28
The table of 7 * 5 : 35
The table of 7 * 6 : 42
The table of 7 * 7 : 49
The table of 7 * 8 : 56
The table of 7 * 9 : 63
The table of 7 * 10 : 70
The table of 8 * 1 : 8
The table of 8 * 2 : 16
The table of 8 * 3 : 24
The table of 8 * 4 : 32
The table of 8 * 5 : 40
The table of 8 * 6 : 48
The table of 8 * 7 : 56
The table of 8 * 8 : 64
The table of 8 * 9 : 72
The table of 8 * 10 : 80
The table of 9 * 1 : 9
The table of 9 * 2 : 18
The table of 9 * 3 : 27
The table of 9 * 4 : 36
The table of 9 * 5 : 45
The table of 9 * 6 : 54
The table of 9 * 7 : 63
The table of 9 * 8 : 72
The table of 9 * 9 : 81
The table of 9 * 10 : 90
The table of 10 * 1 : 10
The table of 10 * 2 : 20
The table of 10 * 3 : 30
The table of 10 * 4 : 40
The table of 10 * 5 : 50
The table of 10 * 6 : 60
The table of 10 * 7 : 70
The table of 10 * 8 : 80
The table of 10 * 9 : 90
The table of 10 * 10 : 100

In [70]:
# Practice
# Multiplication - A solutions

for x in range(1,11):
  print('Table of', x, ':')
  for y in range(1,11):
    print(x, '*', y,'=', x*y)

Table of 1 :
1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10
Table of 2 :
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
Table of 3 :
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
Table of 4 :
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40
Table of 5 :
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50
Table of 6 :
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60
Table of 7 :
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70
Table of 8 :
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80
Table of 9 :
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90
Table of 10 :
10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100