<a href="https://colab.research.google.com/github/Cristiancperez/Code_in_class/blob/main/07_API.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **CALL DATA FROM API**

We are to call a dataset from [Datos Abiertos](https://www.datos.gov.co/)

In [14]:
%reset

Once deleted, variables cannot be recovered. Proceed (y/[n])? y

In [15]:
# Install library
!pip install sodapy

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: sodapy in /usr/local/lib/python3.7/dist-packages (2.2.0)
Requirement already satisfied: requests>=2.28.1 in /usr/local/lib/python3.7/dist-packages (from sodapy) (2.28.1)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.28.1->sodapy) (2022.9.24)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.28.1->sodapy) (2.10)
Requirement already satisfied: charset-normalizer<3,>=2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.28.1->sodapy) (2.1.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.28.1->sodapy) (1.24.3)

In [16]:
# Libraries
import pandas as pd
from sodapy import Socrata # it is the API

In [17]:
# Define the source
client = Socrata("www.datos.gov.co", None )

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

In [24]:
# Make the call
r = client.get("32sa-8pi3", limit = 8000)
dr = pd.DataFrame.from_records(r)

In [25]:
# Explore data
dr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7442 entries, 0 to 7441
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   valor          7442 non-null   object
 1   unidad         7442 non-null   object
 2   vigenciadesde  7442 non-null   object
 3   vigenciahasta  7442 non-null   object
dtypes: object(4)
memory usage: 232.7+ KB

In [26]:
dr.head()

     valor unidad            vigenciadesde            vigenciahasta
0  3737.32    COP  2022-04-14T00:00:00.000  2022-04-18T00:00:00.000
1  3731.31    COP  2022-04-19T00:00:00.000  2022-04-19T00:00:00.000
2  3755.85    COP  2022-04-20T00:00:00.000  2022-04-20T00:00:00.000
3  3758.65    COP  2022-04-21T00:00:00.000  2022-04-21T00:00:00.000
4  3759.54    COP  2022-04-22T00:00:00.000  2022-04-22T00:00:00.000

In [28]:
dr2 = dr.sort_values(by = ['vigenciadesde'])
dr2.head()

       valor unidad            vigenciadesde            vigenciahasta
469   643.42    COP  1991-12-02T00:00:00.000  1991-12-02T00:00:00.000
470   639.22    COP  1991-12-03T00:00:00.000  1991-12-03T00:00:00.000
471    635.7    COP  1991-12-04T00:00:00.000  1991-12-04T00:00:00.000
6280  631.51    COP  1991-12-05T00:00:00.000  1991-12-05T00:00:00.000
6281  627.16    COP  1991-12-06T00:00:00.000  1991-12-06T00:00:00.000

In [29]:
dr2.tail()

        valor unidad            vigenciadesde            vigenciahasta
7437  4975.58    COP  2022-11-02T00:00:00.000  2022-11-02T00:00:00.000
7438  5015.84    COP  2022-11-03T00:00:00.000  2022-11-03T00:00:00.000
7439  5058.02    COP  2022-11-04T00:00:00.000  2022-11-04T00:00:00.000
7440  5061.21    COP  2022-11-05T00:00:00.000  2022-11-08T00:00:00.000
7441   5013.2    COP  2022-11-09T00:00:00.000  2022-11-09T00:00:00.000