<a href="https://colab.research.google.com/github/Cristiancperez/Code_in_class/blob/main/Workshop_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h1 align = "center">
<strong> Universidad de La Salle </strong>
</h1>

<h1 align = "center">
<strong> Finance and International Commerce Program </strong>
</h1>

<h1 align = "center">
<strong> Data Visualization - Workshop 1 </strong>
</h1>

# **Instructions**

1. Please read carefully the document. Ask all the questions you may have.
2. Save this file in your Google Drive.
3. DO NOT alter any cell unless it specifically ask you to do it.
4. You will have **two hours** (until 11am) maximum to finish and deliver this workshop.
5. You can use any help you want: your notes, your codes, internet, classmates.
6. Nevertheless, the workshop must be presented individually.
7. Once you have finish, save a copy in your GitHub class repository.
8. The deliver process is as follows:
    
    8.1. Via email you will send the link to the GitHub location.
    
    8.2. In the same mail, just for safety, you will attach a copy of your `.ipynb` file.
    
    8.3. The email must have the subject: "W1 DV".

# **To keep in mind**

* The excercises propouse are intended to **push** you a little futher in your Pyton skills.
* This means that there are going to be exercises above the level seen in class.
* The idea is to incentive your creative thinking and solving problem skills.
* As always there several ways to do the excersice. But in this case, I ask you to use only the tools we learned.
* I ask you to trust me. Give your best effort. Grades do not matter here.

# **Exercise Set**

## Ex 1.

In the cell code below, first create a variable with your full name then write the appropiate code, using *sciling*, to print your full name as this:

`First Name: José` &nbsp;   &nbsp;   &nbsp;   &nbsp;   &nbsp; `Middle Name: Rodrigo`

`First Last  Name: Vélez` &nbsp;   &nbsp;   &nbsp;   &nbsp;   &nbsp; `Second Last Name: Molano`

In [ ]:
# Answ. Ex 1
# (write your code below)
a = 'Cristian Camilo Perez Avila'
print('First Name:', a[0:8],'\t','Middle Name:', a[9:15])           
print('First Last Name:', a[16:22],'\t','Second Last Name:', a[22:27])

First Name: Cristian 	 Middle Name: Camilo
First Last Name: Perez  	 Second Last Name: Avila

## Ex 2.

In the cell code below, you are given two random numbers `x` and `y`. 

Write the appropiate code to print the result of dividing `x` by all its precedents rounded by `y` decimal positions.

This is an example of the expected result for `x = 15` and `y = 2`:

`15 / 1 = 15.00`

`15 / 2 = 7.50`

`15 / 3 = 5.00`

`...`

`15 / 15 = 1.00`

**JUST IN CASE!** You must use the variables given to you

In [ ]:
# Answ. Ex 2 
###################################
#      DO NOT MODIFY THIS PART    #
import numpy as np
x = round(np.random.uniform(12,22))
y = round(np.random.uniform(1,4))
###################################

# (write your code below)
print('Dividing', x ,'by all its preceding rounded to', y ,'decimals places')

for i in range(1,x+1): print(x,'/',i,'=', round(x/i,y))

Dividing 15 by all its preceding rounded to 2 decimals places
15 / 1 = 15.0
15 / 2 = 7.5
15 / 3 = 5.0
15 / 4 = 3.75
15 / 5 = 3.0
15 / 6 = 2.5
15 / 7 = 2.14
15 / 8 = 1.88
15 / 9 = 1.67
15 / 10 = 1.5
15 / 11 = 1.36
15 / 12 = 1.25
15 / 13 = 1.15
15 / 14 = 1.07
15 / 15 = 1.0

## Ex 3. 

The Fibonnaci sequence is a sequence constructed by the process:

$x_{i} = x_{i-1} + x_{i-2}$

where $x_{1} = x_{2} = 1$.

Below you are given a random number `z`, write the appropiate code to calculate and print the `z`th position of the Fibonnaci sequence.

In [4]:
# Answ. Ex 3
###################################
#      DO NOT MODIFY THIS PART    #
import numpy as np
z = round(np.random.uniform(50,100))
###################################

# (write your code below)

f1 = 1
f2 = 1

print('Fibonnaci Sequence up to', z, 'th')
for i in range(3,z+1):
  f = f1 + f2 
  print('Position', i, 'th:', f)
  f1 = f2 
  f2 = f

Fibonnaci Sequence up to 57 th
Position 3 th: 2
Position 4 th: 3
Position 5 th: 5
Position 6 th: 8
Position 7 th: 13
Position 8 th: 21
Position 9 th: 34
Position 10 th: 55
Position 11 th: 89
Position 12 th: 144
Position 13 th: 233
Position 14 th: 377
Position 15 th: 610
Position 16 th: 987
Position 17 th: 1597
Position 18 th: 2584
Position 19 th: 4181
Position 20 th: 6765
Position 21 th: 10946
Position 22 th: 17711
Position 23 th: 28657
Position 24 th: 46368
Position 25 th: 75025
Position 26 th: 121393
Position 27 th: 196418
Position 28 th: 317811
Position 29 th: 514229
Position 30 th: 832040
Position 31 th: 1346269
Position 32 th: 2178309
Position 33 th: 3524578
Position 34 th: 5702887
Position 35 th: 9227465
Position 36 th: 14930352
Position 37 th: 24157817
Position 38 th: 39088169
Position 39 th: 63245986
Position 40 th: 102334155
Position 41 th: 165580141
Position 42 th: 267914296
Position 43 th: 433494437
Position 44 th: 701408733
Position 45 th: 1134903170
Position 46 th: 1836311903
Position 47 th: 2971215073
Position 48 th: 4807526976
Position 49 th: 7778742049
Position 50 th: 12586269025
Position 51 th: 20365011074
Position 52 th: 32951280099
Position 53 th: 53316291173
Position 54 th: 86267571272
Position 55 th: 139583862445
Position 56 th: 225851433717
Position 57 th: 365435296162

In [6]:
f1 = 1
f2 = 1


for i in range(3,z):
  f = f1 + f2 
  f1 = f2 
  f2 = f

f = f1 + f2
print('Position', z, 'Fibonnaci Sequence is:', f)

Position 57 Fibonnaci Sequence is: 365435296162

## Ex 4.

Create a string variable with the name of your favorite music artist or group.Write the appropiate code to print it in reversed order.

*Example:*

`w = 'Dog'`

Expected result: `'goD'`.

In [8]:
# Answ. Ex 4
# (write your code below)

w = 'Dog'
nw = ''

for i in range(1,4):
  nw += w[-i]

print('Original Word:', w)
print('Reversed Word:',nw)

Original Word: Dog
Reversed Word: goD